@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* infinite ccroll kanan ke kiri */
.animate-infinite-scroll {
  display: flex;
  animation: infinite-scroll 20s linear infinite;
  will-change: transform;
}

.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* infinite scroll kiri ke kanan */
.animate-infinite-scroll-reverse {
  display: flex;
  animation: infinite-scroll-reverse 25s linear infinite;
  will-change: transform;
}

.animate-infinite-scroll-reverse:hover {
  animation-play-state: paused;
}

@keyframes infinite-scroll-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* animate scroll mobile duration */
@media (max-width: 768px) {
  .animate-infinite-scroll,
  .animate-infinite-scroll-reverse {
    animation-duration: 5s; 
  }
}

@layer base {
  html {
    font-family: 'Geist', sans-serif;
  }
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45 translate-y-3;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45 -translate-y-2.5;
}

